@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
:root {
  --color1: white;
  --color2: orangered;
  --color3: #992900;
  --color4: black;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 64.5%;
}
body {
  margin: 0;
  font-family: "Press Start 2P", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-size: 1.6rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
@media screen and (max-width: 350px) {
  html {
    font-size: 50%;
  }
}
